.content{width: 95%; min-height: 700px; margin: 50px auto 0; }
.add-new-btn{-webkit-appearance: none; background-color: green; color: white; border-radius: 3px; border: none; margin-bottom: 10px; padding: 10px 20px 10px;}
.add-new-btn:hover{opacity: 0.75; cursor: pointer;}
.item{width: 100%; height: 50px; background-color: Gainsboro; line-height:50px;}
.item-property-field{display: inline-block; padding-left: 10px;}
.name-field{min-width: 15%;}
.price-field{min-width: 15%;}
.edit-btn{float: right; padding: 0 20px 0;}
.remove-btn{float: right; padding: 0 20px 0;}
